@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.nav-items {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-items a {
  color: black;
  text-decoration: none;
}
.nav-items li {
  padding: 10px;
  font-size: 20px;
  border: 1px solid gray;
}
.navbar {
  height: 60px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(211, 205, 205);
  display: flex;
  justify-content: center;
}
.navbar  button {
   background-color: #FBC531; 
  height: 55px;
  width: 60px;
  font-size: 20px;
  font-style: inherit;
  border: 1px solid;
  margin-left: 20px;
  padding-left: 2px 2px 2px 2px;
}
.details-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details-container div {
  margin: 10px;
  font-size: 20px;
  margin-left: 10px;
}
.logo {
  margin-right: 200px;
  

}
.logo img{
  height: 90px;
  
  
}
#hero{
background-image: url(./images/trankad_slider_home-1-v1-1.jpg);
height: 500px;
width: 100vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #fff;
display: flex;


}
#hero h1{
  font-size: 50px;
}
#hero h2{
  font-size: 30px;
  font-weight: 400;
}


#hero .container{
  width: 700px;
  margin: auto;
  text-align: center;
}
#hero .now{
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  padding: 0px 15px;

}
.box{
  border: 1px solid gray;
  height: 300px;
  width: 300px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgb(227, 229, 230);
  background-color: white;
  

  

  
}
.middle{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    transform: translateY(-50px);
}
.box img{
  height: 50px;
  width: 50px;
}
.box2{
  height: 300px;
  width: 300px;
  text-align: center;
  padding: 20px;
 
 
}
.box2 img{
  height: 60px;
  width: 60px;
}
.our-service .box2 h3{
 padding-top: 30px;
 font-weight: 400;
}
.our-service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 90px;
}
#types{
  margin-top: 90px;
}
.number{
  background-image: url(./images/desktop-wallpaper-construction-site-construction.jpg);
  height: 300px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.management{
  color: #fff;
  display: flex;
  gap: 35px;
  font-size: 30px;
}
.client{
  font-weight: 400;
}
.management h3{
  color: #ffff;
  font-size: 20px;
}
.logo3{
  display: flex;
  /* height: 70px;
  width: auto;
  opacity: .5; */
  margin-top: 20px;
  gap: 150px;
  align-items: center;
  justify-items: center;

}
.logo3 .virtual img{
  height: 70px;
  width: auto;
  opacity: .5;
  
}
.last{
  display: flex;
  margin-top: 50px;
  gap: 35px;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
}
.last .need p i{
  margin-right: 20px;

}
 .last .font i{

}